In [32]:
import pandas as pd
import matplotlib as plt

path_coe_prices = 'data/COEBiddingResultsPrices.csv'
path_deregistered = 'data/MotorVehiclesDeRegisteredUnderVehicleQuotaSystemMonthly.csv'
path_registered = 'data/NewRegistrationOfMotorVehiclesUnderVehicleQuotaSystemMonthly.csv'
path_cpi = 'data/outputFile.xlsx'
path_nom_household = 'data/NominalChangeinAverageMonthlyHouseholdEmploymentIncomePerHouseholdMemberExcludingEmployerCPFContributionsAmongResidentEmployedHouseholdsbyDecilesHouseholdEmploymentIncomeAnnual20002024.csv'
#path_real_household = 'data/RealChangeinMonthlyHouseholdEmploymentIncomePerHouseholdMemberExcludingEmployerCPFContributionsAmongResidentEmployedHouseholdsatSelectedPercentilesHouseholdEmploymentIncomeAnnual20002024.csv'

coe_prices = pd.read_csv(path_coe_prices)
deregistered = pd.read_csv(path_deregistered)
registered = pd.read_csv(path_registered)
cpi = pd.read_excel(path_cpi, sheet_name='T7', skiprows=10)
nom_household = pd.read_csv(path_nom_household)

In [31]:
cpi_t = cpi.transpose()
cpi_t.columns = cpi_t.iloc[0]
cpi_t = cpi_t[1:]
cpi_t.reset_index(inplace=True)
cpi_t.rename(columns={'index': 'Period'}, inplace=True)
cpi_t.head()

Data Series,Period,All Items,Food,Food Excl Food & Beverage Serving Services,Rice & Cereal Products,Meat,Fish & Other Seafood,"Milk, Other Dairy Products & Eggs",Oils & Fats,Fruits & Nuts,...,Related Information:,Consumer Price Index (CPI) Infographics,Consumer Price Index (CPI) PowerBI Dashboard,FAQ on Consumer Price Index (CPI),Information Paper 'Rebasing of the Consumer Price Index (2024 as Base Year)',Weighting Pattern for 2024-based Consumer Price Index,NaN,Generated by: SingStat Table Builder,Date generated: 17/01/2026,Contact: info@singstat.gov.sg
0,2025 Nov,101.357,102.018,101.675,102.196,100.71,99.012,100.803,104.055,102.263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025 Oct,101.589,101.911,101.518,101.893,101.387,99.58,100.148,104.12,102.741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025 Sep,101.099,101.529,100.838,101.176,100.646,97.828,100.391,103.321,101.826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025 Aug,100.742,101.305,100.897,100.998,100.254,98.522,100.088,103.656,103.132,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025 Jul,100.704,101.081,100.833,101.505,100.114,98.505,99.895,102.841,101.183,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
coe_prices.head()

,month,bidding_no,vehicle_class,quota,bids_success,bids_received,premium
0,2010-01,1,Category A,1152,1145,1342,18502
1,2010-01,1,Category B,687,679,883,19190
2,2010-01,1,Category C,173,173,265,19001
3,2010-01,1,Category D,373,365,509,889
4,2010-01,1,Category E,586,567,1011,19889